<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401757671276-hdvg4sp8tfmmmrju367n3ihlj4gebic1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401757671276-hdvg4sp8tfmmmrju367n3ihlj4gebic1</string>
	<key>API_KEY</key>
	<string>AIzaSyCkh8KxZn1RHCTcpKsR9AMi6WRXlkEUpCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>401757671276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siri.inde</string>
	<key>PROJECT_ID</key>
	<string>speech-59771</string>
	<key>STORAGE_BUCKET</key>
	<string>speech-59771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401757671276:ios:a8caee0632e1de0156ed49</string>
	<key>DATABASE_URL</key>
	<string>https://speech-59771.firebaseio.com</string>
</dict>
</plist>